/* hi im a comment */
.header{
  color: white;

  background-color: #897780;
}
.sec1{

}
.rt{
  float: left;
  width: 33%;
}
.lft{
  float: left;
  width: 33%;
}
.btn{
    float: left;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #3498db; /* blue flat */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 34%;
    margin: 0 auto;

}
button:hover{
  background-color: #2980b9;

}
button:active {
  background-color: #3498db;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.work_xp{

      float: left;
      width: 33%;
      text-align: center;

      }
.links{
    float: none;
    text-align: center;
  }
.edx{
    float: left;
    width: 33%;
    text-align: center;
 }

 .xs{
   float:left;
   width: 100%;
 }
 .prjx{
   float: left;
   text-align: center;
   background-color: darkgreen;
 }
